*{
    margin: 0;
    padding: 0;
}

.head{
    height: 100px;
    background-color: blueviolet;
    display: flex;
}

.logo{
    margin: auto 50px;
}

.menu ul{
    /* list-style: none; */
    list-style-type: none;
    display: flex;
}

.menu ul li{
    margin: auto 50px;
    justify-content: right;
}